/*Links*/
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
}

a:hover {
    text-decoration: underline;
}

/* Navigation bar*/
.a_top {
    padding: 6px;
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-size: 13px;
}

.nav {
    text-align: right;
    padding: px;
    padding-right: 15px;
    
}

.nav_list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#blu_butt {
    background-color: rgb(68, 130, 223);
    border-width: 0px;
    border-radius: 4px;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
}

#sign_in {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Main */
/*input[type=text] {
    width: 520px;
    padding: 14px;
    border-radius: 25px;
    border: solid;
    border-color: rgb(187, 187, 184);
    border-width: 1px;
}*/

.search {
    position: relative;
    display: flex;
    
}

.mi {
    display: block;
    width: 2px;
    height: 1px;
    background: transparent url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/712px-Google_mic.svg.png) scroll no-repeat 0 0;
    position: absolute;
    background-size: cover;
}

.search_bar {
    width:480px;
    padding: 14px;
    padding-left: 40px;
    border-radius: 25px;
    border: solid;
    border-color: rgb(187, 187, 184);
    border-width: 1px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 14px;
}

.icon {
    border-style: solid;
    border-width: 1px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1024px-Magnifying_glass_icon.svg.png) no-repeat left;
    background-size: 16px;
    background-position-x: 15px;
}

.m {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/712px-Google_mic.svg.png) no-repeat left;
    background-size: 14px;
    background-color: salmon;
    background-position-x: -10px;
    /*background-position-y: 26px;*/
}



.mic_bg {
    background-color: salmon;
}

#google {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 204px;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#butn_div {
    text-align: center;
    margin-top: 30px;
}

.butns {
    padding: 10px;
    border-width: 0px;
    border-radius: 3px;
    margin: 5px;
}

.gray_btn {
    background-color:  rgb(240, 238, 231);
    padding: 10px;
    font-size: small;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

/* Footer */

.footer {
    background-color: rgb(240, 238, 231);
    position: fixed;
    width: 100%;
    bottom: 0%;
    left: 0%;
    border-top: 1px solid rgb(194, 190, 190);
    padding-bottom: 15px;
}

.ftr_ul {
    list-style-type: none;
    margin: 10px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

li {
    float: left;
}


